body{
    width: 400px;
}
#icon{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#container {
position: absolute;
width: 355.08px;
height: 48.21px;
left: 24.32px;
top: 115.29px;
}

#container {
background: #FFFFFF;
border: 0.838451px solid #C6D5E2;
box-sizing: border-box;
box-shadow: 0.838451px 1.6769px 12.5768px rgba(0, 0, 0, 0.04);
border-radius: 8.38451px;
}

#btn {
    position: absolute;
width: 182.17px;
height: 37.73px;
left: 110.68px;
top: 546.67px;

/* Blue Primary */

background: #004686;
border-radius: 11.7907px;
}